@using DPMS.EmailEngine.EmailTemplates;
@model UserAddedToSystemVM;

<h1>DPMS Notification System</h1>
<p>Hello @Model.FullName</p>
<p>You have been added to @Model.SystemName as @Model.RoleName at @Model.Timestamp</p>